@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary: #000;
  --primary-lower-opacity: #00000028;
  --foreground: #fff;
  --secondary: #27262b;
  --secondary-lower-opacity: #27262b28;
  --accent: #464646;
  --accent-low-opacity: #46464644;
  --border: #27262b;
  --switch-on: #fff;
  --switch-off: #464646;
  --tab-fill: #000;
  --active-tab-title: #ffffff;
  --tab-hover: #00000028;
  --icon-hover: #46464688;
  --radius: 9px; */
}

.theme-light {
  --primary: #ffffff;
  --primary-lower-opacity: #00000028;
  --foreground: #000;
  --secondary: #f1f5f9;
  --skeleton: #e4e6e9;
  --secondary-lower-opacity: #27262b28;
  --accent: #3596dd;
  --accent-low-opacity: #3597dd21;
  --switch-on: #3596dd;
  --switch-off: #000;
  --border: #cbd5e1;
  --tab-fill: #000;
  --tab-hover: #3597dd21;
  --active-tab-title: #ffffff;
  --icon-hover: #3597dd21;
  --radius: 9px;
  --box-border: #d9d9d9;

  --login-box-bg: white;
  --input-background: #f1f5f9;
  --login-input-border: #cbd5e1;
  --login-button-background: black;

  --destructive-toast: #ec4141fa;
  --success-toast: #24c024;
  --success-toast-text: white;
  --input-background-hover: #f4f7fa;

  --default-toast-bg: #a1c9e6;
  --ring: var(--accent);
}

.theme-dark {
  --primary: #000;
  --primary-lower-opacity: #00000028;
  --foreground: #fff;
  --secondary: #27262b;
  --skeleton: #27262b;
  --secondary-lower-opacity: #27262b28;
  --accent: #464646;
  --accent-low-opacity: #464646a9;
  --border: #27262b;
  --switch-on: #fff;
  --switch-off: #464646;
  --tab-fill: #000;
  --active-tab-title: #ffffff;
  --tab-hover: #00000028;
  --icon-hover: #46464688;
  --radius: 9px;

  --box-border: #555555;

  --login-box-bg: #131313;
  --input-background: #27262b;
  --login-input-border: #555555;
  --login-button-background: white;

  --destructive-toast: #962d2dfa;
  --success-toast: #2c9c2c;
  --success-toast-text: black;
  --input-background-hover: #2c2b31;

  --default-toast-bg: #27262b;
  --ring: var(--accent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
}

.turjuman-popup-div {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
}

button {
  cursor: pointer;
}

* {
  border: 0px solid #00000000;
}

.font-inter {
  font-family: "Twemoji Country Flags", Inter, sans-serif !important;
  font-optical-sizing: auto;
}
/*
.turjuman-definition-p::-webkit-scrollbar {
  width: 8px;
}

.turjuman-definition-p::-webkit-scrollbar-track {
  border-radius: 9px;
  background: var(--secondary); /* color of the tracking area 
}
.turjuman-definition-p::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: var(--accent-low-opacity); /* color of the tracking area 
}
.turjuman-definition-p::-webkit-scrollbar-thumb:hover {
  background: var(--accent); /* color of the tracking area 
}
*/

.turjuman-scrollable::-webkit-scrollbar {
  width: 8px;
}

.turjuman-scrollable::-webkit-scrollbar-track {
  border-radius: 9px;
  background: var(--secondary); /* color of the tracking area */
}
.turjuman-scrollable::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: var(--accent-low-opacity); /* color of the tracking area */
}
.turjuman-scrollable::-webkit-scrollbar-thumb:hover {
  background: var(--accent); /* color of the tracking area */
}

.turjuman-examples-container::-webkit-scrollbar {
  display: none;
}

.gradient-border {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 100;

  position: relative;
  background: linear-gradient(60deg, #5f86f2, #d55ff2, #f25f97, #fd4e4e);
  animation: moveGradient 2s alternate infinite;
  background-size: 300% 300%;
  background-position: 0 50%;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
